<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shelby.tv Enterprise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Shelby.tv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C81097316EE2CBF0030077C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C810A2916EE5EED0030077C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5B7C116D53C1400043754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E20970C162F3A60000A2DFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
